.center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.vh-100 {
    min-height: 100vh;
}

.grow {
    flex-grow: 1;
}

.mt-5 {
    margin: 5rem;
}